.slot {
    align-items: flex-start;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

.slotitem {
}
